---
---

@import "minima";
figure {
    margin: 20px;
    padding: 10px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
figcaption {
    text-align: center;
    margin-top: 10px;
    color: grey;
}
.post-tag {
    display: inline-block;
    background: $grey-color-light;
    padding: 0 0.5rem;
    margin-right: 0.5rem;
    border-radius: 4px;
    color: $text-color;
    font-size: 90%;
    &:before {
      content: "\f02b";
      font-family: FontAwesome;
      padding-right: 0.5em;
    }
    &:hover {
      text-decoration: none;
      background: $grey-color;
      color: $background-color;
    }
}